:root {
  --fc-button-bg-color: #38a169;
  --fc-button-border-color: #38a169;
  --fc-button-hover-bg-color: #2f855a;
  --fc-button-hover-border-color: #2f855a;
  --fc-button-active-bg-color: #2f855a;
  --fc-button-active-border-color: #151e27;
}

.fc .fc-prev-button {
  margin-right: 2px !important;
}
.fc table,
.fc thead,
.fc tbody,
.fc tfoot,
.fc tr,
.fc th,
.fc td {
  border: 0 !important;
}

.fc .fc-daygrid-body table tbody tr td {
  border-top: 1px solid #e2e8f0 !important;
  border-left: 0 !important;
  border-right: 1px solid #e2e8f0 !important;
}

.fc table tbody tr td:last-child {
  border-right: 0 !important;
}
